<div class="container">
<h1 class="center"> TODO APP</h1>

<!-- CREATE -->
<div>
  <input class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
           focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
           disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200" [(ngModel)]="newTodo" placeholder="Nome">
  <input class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
           focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
           disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200" [(ngModel)]="newDescription" placeholder="Descrizione">
  <select
  class="w-full bg-white border border-gray-300 text-gray-700 py-2 px-3 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
  [(ngModel)]="selectedEmployeeId">

<option [ngValue]="null">
  Seleziona Employee
</option>

  <option
    *ngFor="let e of employees"
    [ngValue]="e.id">

    {{ e.name }}

  </option>

</select>

  <input class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
           focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
           disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200" type="date"[(ngModel)]="newDeadline"[min]="today">
  <hr>
   <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg shadow-sm transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" class="btn btn-primary position-relative m-2">
    Priorità: {{ newPriority }}
   <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span>
</button>

  <input
    type="range"
    class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 [&::-webkit-slider-thumb]:w-4 [&::-webkit-slider-thumb]:h-4 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-blue-600 [&::-moz-range-thumb]:w-4 [&::-moz-range-thumb]:h-4 [&::-moz-range-thumb]:appearance-none [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-blue-600"
    min="0"
    max="100"
    [(ngModel)]="newPriority">


  <label>
    <input class="w-5 h-5 accent-blue-600 rounded cursor-pointer" type="checkbox" [(ngModel)]="newIsComplete">
    Completato
  </label>

  <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg shadow-sm transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" class="btn btn-primary position-relative m-2" (click)="addTodo()">➕ Aggiungi</button>
</div>

<hr>
<hr>

<!-- 👤 CREATE EMPLOYEE FORM -->
<form (ngSubmit)="$event.preventDefault()" class="max-w-md mx-auto bg-white p-6 rounded-xl shadow-md border space-y-4">

  <h2 class="text-2xl font-bold mb-2">
    👤 Nuovo Employee
  </h2>

  <!-- GRUPPO DEI CAMPI DEL FORM -->
  <div class="space-y-4">

    <!-- NOME -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">
        Nome: 
      </label>
<input
  type="text"
  name="employeeName"
  placeholder="Mario Rossi"

  [value]="employeeForm().name"

(input)="updateEmployeeField('name', $any($event.target).value)"

  class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
  focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
  disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200">
     <p
  *ngIf="employeeForm().name && !nameValid()"
  class="text-red-500 text-xs mt-1 font-medium">
        Inserisci un nome valido
      </p>
    </div>

    <!-- EMAIL -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">
        Email: 
      </label>
      <input
  type="email"
  name="employeeEmail"
  placeholder="mario@email.it"

  [value]="employeeForm().email"

(input)="updateEmployeeField('email', $any($event.target).value)"

  class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
  focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
  disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200">
      <p
        *ngIf="employeeForm().email && !emailValid()"
        class="text-red-500 text-xs mt-1 font-medium">
        Inserisci una email valida
      </p>
    </div>

    <!-- CODICE FISCALE -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">
        Codice Fiscale: 
      </label>
      <input
  type="text"
  maxlength="16"
  name="employeeCodiceFiscale"
  placeholder="RSSMRA80A01H501U"

  [value]="employeeForm().codiceFiscale"

(input)="updateEmployeeField('codiceFiscale', $any($event.target).value)"

  class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
  focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
  disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200">
      <p
        *ngIf="employeeForm().codiceFiscale && !cfValid()"
        class="text-red-500 text-xs mt-1 font-medium">
        Codice fiscale non valido
      </p>
    </div>
    <!-- RESIDENZA -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">
        Residenza: 
      </label>
      <input
  type="text"
  name="employeeResidenza"
  placeholder=" Milano"

  [value]="employeeForm().Residenza"

(input)="updateEmployeeField('Residenza', $any($event.target).value)"

  class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
  focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
  disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200">
    </div>

  </div>

</form>


  <button
    type="button"
    (click)="addEmployee()"
[disabled]="!employeeFormValid()"
    class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg shadow-sm transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" class="btn btn-primary position-relative m-2">

    ➕ Aggiungi Employee

  </button>

</div>

<div class="container">
<div class="input-group m-2">
<input
  class="w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
           focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500
           disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200"
  type="text"
  placeholder="🔍 Cerca un todo..."
  [(ngModel)]="searchText"
  (input)="applysearchFilter()">

   <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="searchText=''; applysearchFilter()">
    ✖ Pulisci
  </button>
</div>
<hr>
<hr>

<h5 class="text-base font-semibold text-gray-900 tracking-tight mb-2">👤 Filtra per Employee</h5>

<select
  class="form-select m-2"
  [(ngModel)]="selectedFilterEmployeeId"
  (change)="filterByEmployee()">

  <option [ngValue]="null">
    Tutti gli Employee
  </option>

  <option
    *ngFor="let e of employees"
    [ngValue]="e.id">

    {{ e.name }}

  </option>

</select>

<hr>

<!-- 🔥 FILTRI -->
<div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px 0; display: flex; gap: 10px; flex-wrap: wrap;">

  <button type="button" class="btn btn-primary" [class.active]="filter === 'all'" (click)="setFilter('all')">
    Tutti ({{ countAll() }})
  </button>

  <button type="button" class="btn btn-primary" [class.active]="filter === 'todo'" (click)="setFilter('todo')">
    Da fare ({{ countTodo() }})
  </button>

  <button type="button" class="btn btn-primary"  [class.active]="filter === 'done'" (click)="setFilter('done')">
    Completati ({{ countDone() }})
  </button>

  <button type="button" class="btn btn-primary" [class.active]="filter === 'expired'" (click)="setFilter('expired')">
    Scaduti ({{ countExpired() }})

  </button>
<button type="button"
        class="btn btn-warning"
        [class.active]="filter === 'urgent'"
        (click)="setFilter('urgent')">
  🔥 Urgenti ({{ countUrgent() }})
</button>

</div>

<hr>
<hr>

<div *ngIf="filteredList.length === 0" class="alert alert-warning">
  🔍 Nessun risultato
  <br>
  <small>Prova a cambiare ricerca o filtri</small>
</div>



<!-- LIST -->
<ul>
  <li *ngFor="let t of filteredList"
      [ngClass]="[getDeadlineClass(t), getPriorityClass(t)]">

    <div class="alert alert-primary" role="alert">
  {{ t.name }}
</div>

<div
  *ngIf="t.employeeName"
  class="alert alert-secondary">

  👤 Employee: {{ t.employeeName }}

</div>
<span
  *ngIf="t.priority >= 80 && !t.isComplete"
  class="badge bg-danger ms-2">
  🔥 URGENTE
</span>
    <p>{{ t.description }}</p>

    <div class="alert alert-success" role="alert">📅 {{ t.createdAt | date:'shortDate' }} </div>

    <br>

    <div class="alert alert-danger" role="alert" *ngIf="t.deadline">
      ⏰ {{ t.deadline | date:'shortDate' }}--SBRIGATI!!!
    </div>

    <hr>
    
    <!-- ⭐ PRIORITÀ SOTTO TUTTO -->

  <h5><span class="badge bg-info text-dark">⚡ Priorità: {{ t.priority }}</span></h5>


    
      <h5><span class="badge bg-success"*ngIf="t.isComplete">✔ Completato</span></h5>
     <h5><span class="badge bg-danger" *ngIf="!t.isComplete">❌ Da fare</span></h5>
  

    <button button type="button" class="btn btn-primary m-2" (click)="startEdit(t)" >✏️ Modifica</button>
    <button type="button"class="btn btn-danger m-2" (click)="deleteTodo(t.id, t.name)">🗑 Elimina</button>

    <div *ngIf="editingId === t.id">
      <input [(ngModel)]="editedName">
      <input class="form-control m-2" [(ngModel)]="editedDescription" placeholder="Descrizione">
      <select
  class="form-select m-2"
  [(ngModel)]="editedEmployeeId">

  <option
    *ngFor="let e of employees"
    [ngValue]="e.id">

    {{ e.name }}

  </option>

</select>

      <input class="form-control m-2"  type="date"  [(ngModel)]="editedDeadline">

      <label>
        <input type="checkbox" [(ngModel)]="editedIsComplete">
        Completato
      </label>
      <hr>
        <button type="button" class="btn btn-primary position-relative m-2">
    Priorità: {{ editedPriority }}
   <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span></button>
   <input
    type="range"
    class="form-range"
    min="0"
    max="100"
    [(ngModel)]="editedPriority">


      <button (click)="saveEdit(t)">💾 Salva</button>


<button
  type="button"
  class="btn btn-secondary m-2"
  (click)="cancelEdit()">
  ❌ Annulla
</button>
      

    <hr>
        </div>
  </li>
</ul>
</div>



